<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiBhOt7R4SW64JuSIhv-kW4kCn9Mc2V3I</string>
	<key>GCM_SENDER_ID</key>
	<string>1079512493359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gemastik.enviroguard</string>
	<key>PROJECT_ID</key>
	<string>enviroguard-df6d7</string>
	<key>STORAGE_BUCKET</key>
	<string>enviroguard-df6d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079512493359:ios:fc672b50b00435a12385da</string>
</dict>
</plist>